# IMS autosave list
$(MOTOR).DESC
$(MOTOR).PORT
$(MOTOR).EGU
$(MOTOR).UREV
$(MOTOR).SREV
$(MOTOR).MS
$(MOTOR).EE
$(MOTOR).EL
$(MOTOR).RC
$(MOTOR).HC
$(MOTOR).HCSV
$(MOTOR).MT
$(MOTOR).MODE
$(MOTOR).DIR
$(MOTOR).OFF
$(MOTOR).FOFF
$(MOTOR).BDST
$(MOTOR).HDST
$(MOTOR).ACCL
$(MOTOR).BACC
$(MOTOR).HACC
$(MOTOR).VBAS
$(MOTOR).VMAX
$(MOTOR).VELO
$(MOTOR).SBAS
$(MOTOR).SMAX
$(MOTOR).S
$(MOTOR).BVEL
$(MOTOR).BS
$(MOTOR).HVEL
$(MOTOR).HS
$(MOTOR).HTYP
$(MOTOR).HEGE
$(MOTOR).TWV
$(MOTOR).LLM
$(MOTOR).HLM
$(MOTOR).DLLM
$(MOTOR).DHLM
$(MOTOR).RDBD
$(MOTOR).PDBD
$(MOTOR).EGAG
$(MOTOR).ERBL
$(MOTOR).ESKL
$(MOTOR).ETWV

